{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block body %}


<div id="temperature">Loading...</div>
<canvas id="temperatureChart" width="800" height="400"></canvas>
<canvas id="hydroChart" width="800" height="400"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript" src="jscript/graph.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Remplacez l'URL par l'API réelle que vous souhaitez utiliser
        const apiUrl = "http://raspberrypizero:3000/get_sensors_data";

        // Fonction pour récupérer les données depuis l'API
        async function getData(startdate, enddate) {
            try {

                const requestBody = {
                    datetime_start: "2023-12-11 00:00:00",
                    datetime_end: "2023-12-11 08:00:00"
                };

                const requestBody2 = {
                    "datetime_start": {startdate},
                    "datetime_end": {enddate}
                };
                // Utilisez la méthode POST et envoyez les variables dans le corps de la requête
                const response = await fetch(apiUrl, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(requestBody)
                });

                const data = await response.json();
                return data;
            } catch (error) {
                console.error("Erreur lors de la récupération des données :", error);
            }
        }

        // Fonction pour créer et afficher le graphique
        async function createChart(startdate, enddate) {
            const data = await getData(startdate, enddate);
            
            const test = (data.reponse[1][0].length)
            let dateTab = [];
            let tempTab = [];
            let hydroTab = [];
            let long = data.reponse[1].length;
            for (let i = 0; i < long; i++) {
                let date = dateTab.push(data.reponse[1][i][1]);
                let temp = tempTab.push(data.reponse[1][i][2]);
                let hydro = hydroTab.push(data.reponse[1][i][3]);
            }

            document.getElementById('temperature').textContent = `${long} `;
            const ctx = document.getElementById("temperatureChart").getContext("2d");

            const myChartTemp = new Chart(ctx, {
                type: "line",
                data: {
                    labels: dateTab, // Remplacez par vos étiquettes de temps
                    datasets: [{
                        label: "Température en °C",
                        data: tempTab, // Remplacez par vos données de température
                        borderColor: "rgba(75, 192, 192, 1)",
                        borderWidth: 2,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    }
                }
            });

            const ctx2 = document.getElementById("hydroChart").getContext("2d");
            const myChartHydro = new Chart(ctx2, {
                type: "line",
                data: {
                    labels: dateTab, // Remplacez par vos étiquettes de temps
                    datasets: [{
                        label: "Hydrométrie en %",
                        data: hydroTab, // Remplacez par vos données de température
                        borderColor: "rgba(75, 192, 192, 1)",
                        borderWidth: 2,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    }
                }
            });

        }

        var datetime_start= "2023-12-11 00:00:00";
        var datetime_end=  "2023-12-11 08:00:00";
        
        // Appel de la fonction pour créer le graphique
        createChart(datetime_start, datetime_end);
    });
</script>
{% endblock %}